<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body> 
    <div class='loading'></div>
    <div class="dashboard-header">
      <h1 class="text-center logo">Twittr</h1>
    </div>
    <div data-id="user" id="user-info">
    </div>
    <div class="update-status">
      <form id="create-tweet">
        <textarea name='status' maxlength="140" placeholder="Tweet.."></textarea>
        <div class="clearfix"></div>
        <a href="#" id="tweet-button">Tweet</a>
      </form>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div data-id="app">
        </div>
      </div>
    </div>

     <script src="javascripts/jquery-1.11.3.min.js"></script>
     <script src="javascripts/underscore-min.js"></script>
     <script src="javascripts/backbone-min.js"></script>
     <script src="javascripts/tweet.js"></script>
     <script src="javascripts/tweetFeed.js"></script>
     <script src="javascripts/tweetParser.js"></script>
     <script src="javascripts/user.js"></script>
     <script src="javascripts/userParser.js"></script>
     <script src="javascripts/dashboardView.js"></script>
     <script src="javascripts/userView.js"></script>
     <script src="javascripts/main.js"></script>
  </body>
</html>
